* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    height: 100vh;
    background: darkorange;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.nav__logo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
}
.nav__list {
    display: flex;
    column-gap: 30px;
}
.nav__link {
    color: #fff;
    font-size: 22px;
    font-weight: 700;

}

.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    row-gap: 15px;
}
.title {
    color: #fff;
    font-weight: 700;
    font-size: 50px;
}
.text {
    color: grey;
    font-size: 30px;
}